<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804076088250-td6evvik6av8n7tulvl6874ratrg6bg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804076088250-td6evvik6av8n7tulvl6874ratrg6bg1</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwc-osobS0pfqTxJQ102GPFu8VOuWKZM</string>
	<key>GCM_SENDER_ID</key>
	<string>804076088250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kumpupp.greengiant</string>
	<key>PROJECT_ID</key>
	<string>ggiant-e2712</string>
	<key>STORAGE_BUCKET</key>
	<string>ggiant-e2712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:804076088250:ios:0c14aa4f16955dcc560b83</string>
</dict>
</plist>
